/Part1.X/build/
/Part1.X/dist/
/Part1.X/nbproject/Makefile-*
/Part1.X/nbproject/Package-*
/Part1.X/nbproject/private/
Part1.X\build\
Part1.X\dist\
Part1.X\nbproject\Makefile-*
Part1.X\nbproject\Package-*
Part1.X\nbproject\private\
/but_int_test.X/build/
/but_int_test.X/dist/
Part1.X/nbproject/private/private.xml
